<?xml version='1.0'?>
<!DOCTYPE gui SYSTEM 'kpartgui.dtd'>
<gui name="konsole">
 <ActionProperties>
  <Action name="focus-view-above" shortcut="Alt+Up"/>
  <Action name="focus-view-below" shortcut="Alt+Down"/>
  <Action name="focus-view-left" shortcut="Alt+Left"/>
  <Action name="focus-view-right" shortcut="Alt+Right"/>
  <Action name="split-view-left-right" shortcut="Ctrl+(; Ctrl+Shift+E"/>
  <Action name="split-view-top-bottom" shortcut="Ctrl+); Ctrl+Shift+O"/>
  <Action name="toggle-maximize-current-view" shortcut=""/>
 </ActionProperties>
</gui>
