xfce-superkey -t 0                   # Open Whisker Menu via Super key
xset -b                              # Turn off the alert bell/beep
setxkbmap -option 'numpad:microsoft' # Adjust shift+numpad behavior
