[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xfce-superkey
Comment=Open Whisker Menu via Super key
Exec=xfce-superkey -t 0
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
